.sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar {
  width: 290px;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  padding: 25px 30px 25px 20px;
  overflow-y: scroll;

  h2 {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__help {
    font-size: 14px;
    line-height: 17px;
    color: #76787d;
  }

  &__item {
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    border-radius: 10px;
    margin-bottom: 18px;
    display: flex;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }

    &__photo {
      width: 70px;
      height: 70px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    &__info {
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      overflow: hidden;
      white-space: nowrap;
      background-color: #ffffff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-left: 1px solid #e0e0e0;

      h3 {
        font-size: 14px;
        font-weight: 600;
        color: #333333;
        line-height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: #76787d;
        line-height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
